<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Login dart</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style=" height: 100vh;"
  <nav class="white z-depth-2" role="navigation ">
    <div class="nav-wrapper ">
        <a id="logo-container" href="#" class="brand-logo"><img src="../images/123.jpg" width="64px"></a>
      <ul class="right hide-on-med-and-down">
        <li><b class="black-text">lubchenko0005@gmail.com</b></li>
        <li><a href="#">Sign Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav center">
        <li><b class="black-text">lubchenko0005@gmail.com</b></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
      <a href="#modal1" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="content container col-s12" style="margin-top:20px">
    <div class="col-s12">
    <label class="header black-text" style="font-size: 200%;">Offers:</label>
    <a class="waves-effect waves-light btn right" style="background-color: #ee6e73;"><i class="material-icons">add</i></a>
  </div>
    <div class="collection z-depth-3">
    <a href="#modal1" class="collection-item black-text modal-trigger">offer1</a>
    <a href="#modal1" class="collection-item black-text modal-trigger">offer2</a>
    <a href="#modal1" class="collection-item black-text modal-trigger">offer3</a>
    <a href="#modal1" class="collection-item black-text modal-trigger">offer4</a>
    <div style="margin-top:20px;display: flex; flex-direction: column; justify-content: space-between;">
    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
</div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  </body>
</html>
